@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
body {
  font-family: 'Roboto', sans-serif;
  background-color: #181716;
  color: #999;
}

main {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  width: 90%;
  background-color: #232220;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
	box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.02);
	border-radius: 10px;
}

.live-search-box {
  width: 100%;
  display: block;
  padding: 1em 1em 1em 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color: #181716
}

h1 {
	color: #f9f9f9;
  padding: 0 20px 20px 20px;
  font-size: 32px;
  font-weight: 300;
}

.topic {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: solid 1px #ebebeb;
}

.topic:first-child {
	border-top-left-radius: 50px;
}

.open {
  cursor: pointer;
  display: block;
  padding: 0px;
}

.open:hover {
  opacity: 0.7;
}

.expanded {
  background-color: #181716;
  transition: all .3s ease-in-out;
}

.ptag {
  display: none;
}

.question {
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  color: #f9f9f9;
}

.answer {
  font-size: 16px;
  line-height: 26px;
  display: none;
  margin-bottom: 30px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

.faq-t {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
  float: right;
  position: relative;
  top: -55px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  transition: all .3s ease-in-out;
}

.faq-o {
  top: -50px;
  -moz-transform: rotate(-224deg);
  -ms-transform: rotate(-224deg);
  -webkit-transform: rotate(-224deg);
  transform: rotate(-224deg);
}

@media only screen and (max-width: 480px) {
  .faq-t {
    display: none;
  }
  .question {
    padding-right: 0px;
  }
  main {
    padding: 10px;
  }
  .answer {
    margin-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "FAQ Live";
}

.FAQ { grid-area: FAQ; }

.FAQ main {
  margin-right: 10px;
}

.Live { grid-area: Live; }

.Live main {
  margin-left: 10px;
}

.raw {
  height: 120px;
  width: 500px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.flip-container {
  -webkit-perspective: 1000;
          perspective: 1000;
  margin: 10px;
  float: left;
}

.flip-container:hover .flipper {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  border-radius: 20px;
}

.flipper {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  background-color: tomato;
  color: white;
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: lightblue;
}

.back p {
  font-size: 18px;
  margin-top: 0px;
  font-family: 'Kaushan Script', cursive;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #333;
  color: white;
}